*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: #116A7B;
    text-align: center;
    padding-top: 15px;
}

main{
    margin: 0 auto;
    width: 90%;
    background-color: #EBEBEB;
}

p{
    font-size: 12px;
}

h2{
    font-size: 24PX;
}

section h2 {
    padding: 12PX;
    background-color: #FFF;
}

.precio {
    font-size: 18px;
    width: 50%;
    align-self: flex-start;
}

.descuento {
    font-size: 16px;
    color: #39B54A;
    width: 50%;
    align-self: flex-start;
}

.descripcion{
    display: none; /*CON ESTO SE SACA HASTA EL ESPACIO*/
    /*visibility: hidden; CON ESTE RESERVA EL ESPACIO*/
}

article{
    margin: 10px;
    background-color: white;
}

.search-button{
    background-color: #EBEBEB;
    width:min-content;
}

.burger-menu {
    text-align: center;
}

.burger-menu i{
    border-radius: 5px;
    color: #116A7B;
    background-color: #ECE5C7;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

footer{
    text-align: center;
    padding-top: 10px;
    margin-top: auto;
}

.footer-section{
    padding: 10px;
    background-color: #FFF;
}

.icon-footer{
    margin-bottom: 10px;
    font-size: 2em;
    color: #116A7B;
}

.icon-footer:hover{
    color: #03264C;
}
footer .copy{
    padding: 10px;
    color: #ECE5C7;
    background-color: #116A7B;
}

.carrousel img{
    width: 100%;
}

.main-product {
    border-top: 1px solid #EBEBEB;
    margin: 10px;
    padding: 15px;
    position: relative;
}

/*.shipping i{
    border-radius: 50px;
    border: 1px solid #39B54A;
    color: #39B54A;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}*/

article img{
    width: 100%;
}

nav{
    display: none;
}

ul, ol {
    list-style: none;
    
}

li{
    display: inline-flex;
    padding: 0px 5px;
}

li i {
    padding-left: 5px;
}

li a{
    text-decoration:none;
    color: #ECE5C7;
}

li a:hover{
    text-decoration:none;
    color: #03264C;
}

li a:active{
    color: #9AD0C2;
}

@media (min-width: 768px) { /*Tablet*/
    
    .products article:hover .descripcion{
        font-size: 16px;
        display:block;
    }

    
    .products article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .burger-menu{
        display: none;
    }

    nav{
        display: block;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
    }

    article {
        flex: 0 0 calc(50% - 20px);
        box-sizing: border-box;
    }


    .encabezado {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: 0 auto;
    }

    .encabezado a{
        width: 30%;
        margin: 0 auto;
    }

    .encabezado a img {
        width: 90%;
        padding-right: 5px;
    }
    .encabezado .busqueda {
        width: 30%;
        margin: 0 auto;
    }
    .encabezado .mensaje-header{
        width: 20%;
        margin: 0 auto;
    }

    .navbar{
        align-items: center;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0px;
        margin: 0 auto;
    }

    footer section{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-section{
        flex-direction: column;
    }

    
    .shipping i:hover {
        animation: rotateUp 6s infinite alternate;
    }

    @keyframes rotateUp {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
    
}

@media (min-width: 1024px) { /*Laptop*/
    .products{
        display: flex;
        flex-wrap: wrap;
    }

    article {
        flex: 0 0 calc(25% - 20px);
        box-sizing: border-box;
    }


}


.main-product > .shipping{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39B54A;
}

.precio-descuento {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    ;
}

.encabezado img {
    width: 50%;
}

.encabezado .busqueda {
    display: flex;
    width: 50%;
    margin: 0 auto; /* Centra el contenedor .busqueda en el contenedor principal */
    position: relative;

    /*display: flex;
    justify-content: center;
    position: relative;
    display: inline-block;
    align-items: center;
    width: 50%;*/
}

.busqueda input{
    flex: 1;
    width: 90%;
    border-radius: 25px;
    border: none;
    padding: 5px 30px 5px 5px;
}

.busqueda .fas{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición del ícono según sea necesario */
    transform: translateY(-50%);
    color: #116A7B;
}
.encabezado .mensaje-header{
    color: #ECE5C7;
    padding-top: 10px;
}

.encabezado .mensaje-header i{
    padding: 0px 5px 0px 5px;
}

.encabezado a{
    padding-bottom: 10px;
}