*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #116A7B;
    text-align: center;
    padding-top: 15px;
}

main{
    margin: 0 auto;
    width: 90%;
    background-color: #EBEBEB;
}

p{
    font-size: 12px;
}

h2{
    font-size: 24PX;
}

.precio {
    font-size: 18px;
    width: 30%;
    align-self: flex-start;
}

.descuento {
    font-size: 16px;
    color: #39B54A;
    width: 70%;
    align-self: flex-start;
}

.descripcion{
    display: none; /*CON ESTO SE SACA HASTA EL ESPACIO*/
    /*visibility: hidden; CON ESTE RESERVA EL ESPACIO*/
}

article{
    margin: 10px;
    background-color: white;
}

.search-button{
    background-color: #EBEBEB;
    width:min-content;
}

.burger-menu {
    text-align: center;
}

.burger-menu i{
    border-radius: 5px;
    color: #116A7B;
    background-color: #ECE5C7;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

footer {
    text-align: center;
}

footer{
    padding: 10px;
}

.footer-section{
    padding: 10px 0px 10px 0px;
}

.icon-footer{
    margin-bottom: 10px;
    font-size: 2em;
    color: #116A7B;
}

.carrousel img{
    width: 100%;
}

.main-product {
    border-top: 1px solid #EBEBEB;
    margin: 10px;
    padding: 15px;
    position: relative;
}

/*.shipping i{
    border-radius: 50px;
    border: 1px solid #39B54A;
    color: #39B54A;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}*/

article img{
    width: 100%;
}

nav{
    display: none;
}

ul, ol {
    list-style: none;
    
}

li{
    display: inline-flex;
}

li a{
    text-decoration:none;
    color: #ECE5C7;
}

li a:active{
    color: #9AD0C2;
}
  

@media (min-width: 768px) { /*Tablet*/
    .descripcion{
        font-size: 16px;
        display:block;
    }

    .products article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    }

    .burger-menu{
        display: none;
    }

    nav{
        display: block;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
    }

    article {
        flex: 0 0 calc(50% - 20px);
        box-sizing: border-box;
    }

    .encabezado {
        display: flex;
        /*flex-wrap: nowrap;*/
        justify-content: space-between;
    }


    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer section{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-section{
        flex-direction: column;
    }

}

@media (min-width: 1024px) { /*Laptop*/
    .products{
        display: flex;
        flex-wrap: wrap;
    }

    article {
        flex: 0 0 calc(25% - 20px);
        box-sizing: border-box;
    }


}


.main-product > .shipping{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39B54A;
}

.precio-descuento {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    ;
}

.encabezado img {
    width: 50%;
}

.encabezado .busqueda {
    display: flex;
    justify-content: center;
    width: 50%;
}